h4 {
    display: initial;
    padding: 20px;
    margin: 0px !important;
}

.nav-content {
    height: 50px;
}

.nav-wrapper {
    background-color: #c9ced6;
    color: #407a56;
}

.nav-content {
    background-color: #407a56;
    color: #c9ced6;
}
