/*@@@@@@@@@@@@@@@@@@@@@@@@@@ HEADER @@@@@@@@@@@@@@@@@@@@@@@@*/

h3 {
    padding: 10px 20px;
    margin: 0px !important;
}

.nav-content {
    height: 50px;
}

.nav-wrapper {
    background-color: #c9ced6;
    color: #407a56;
}

.nav-content {
    background-color: #407a56;
    color: #c9ced6;
}

/*@@@@@@@@@@@@@@@@@@@@@@@@@@ MAIN @@@@@@@@@@@@@@@@@@@@@@@@*/

main {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.title {
    text-align: center;
}

th, td {
    font-size: 18px;
}

@media (max-width: 1024px) {
    main {
        margin-left: 20px;
        margin-right: 20px;
    }
    h2 {
        font-size: 2rem !important;
    }
    th, td {
        font-size: 12px;
    }
}

.btn {
    background-color: #407a56 !important;
}

.form {
    background-color: #c9ced6;
    padding: 20px 40px 40px;
    border: 1px black ridge;
}

.form>h5 {
    text-align: center;
    padding-bottom: 20px;
    color: #407a56;
}
